<div>
    <table cellpadding="0" align="center"
           style="overflow:hidden;background:#fff;margin:0 auto;text-align:left;position:relative;font-size:14px; font-family:'lucida Grande',Verdana;line-height:1.5;box-shadow:0 0 3px #ccc;border:1px solid #ccc;border-radius:5px;border-collapse:collapse;">
        <tbody>
        <tr>
            <th valign="middle"
                style="height:38px;color:#fff; font-size:14px;line-height:38px; font-weight:bold;text-align:left;padding:10px 24px 6px; border-bottom:1px solid #467ec3;background:#518bcb;border-radius:5px 5px 0 0;">
            {{ website_name }}</th>
        </tr>
        <tr>
            <td>
                <div style="padding:20px 35px 40px;">
                    <h2 style="font-weight:bold;margin-bottom:5px;font-size:14px;">{{ username }} 님, 안녕하세요.</h2>
                    <p style="margin-top:20px">
                    아래 링크를 눌러 20분 이내에 비밀번호를 재설정해 주세요.<br><a href="{{ link }}">{{ link }}</a>
                    </p>
                    <p style="margin-top:20px">
                    계정 보호를 위해 추측하기 쉬운 비밀번호는 사용하지 마세요.
                    </p>
                    <p style="margin-top:20px">
                    문의 사항이 있으면 관리자에게 연락해 주세요.
                    </p>
                    <p style="margin-left:2em;"></p>
                    <p style="text-indent:0;text-align:right;">{{ website_name }}</p>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>